<form method="GET" action="/artist-search">
  
    {{!-- <label for="someArtistNameHere">Name Artist</label> --}}
    <input name="myArtist" type="text">

  
  <button type="submit" class="btn btn-primary">Search Artist</button>
</form>